body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #1a1a1a;
}

#checkboxContainer {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* These styles are overridden in JavaScript */
input[type="checkbox"] {
  accent-color: #c70039;
  width: 30px;
  height: 30px;
}
