#moduleContainer {
  display: grid;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}

.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
}
