#grid-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}

.grid-item {
  box-sizing: border-box;
}

.random-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 1rem;
  width: 90%;
  height: 90%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
