#grid-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}

.grid-item {
  box-sizing: border-box;
}

.random-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
}

#grid-container {
  display: grid;
  width: 100vw;
  height: 90vh;
  border: 2px solid white;
  box-sizing: border-box;
  position: relative;
}
.grid-item {
  box-sizing: border-box;
}
.random-item {
  background-color: green;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
